body {
    direction: rtl;
}

#container {
    width: 960px;
    margin: 0 auto;
}

body {
    direction: rtl;
    background-image: url('../images/bgd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

nav.tabs ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    nav.tabs ul li {
        display: inline-block;
    }

        nav.tabs ul li a {
            color: white;
            text-decoration: none;
            display: block;
            width: 140px;
            height: 30px;
            text-align: center;
            padding-top: 10px;
            background-color: steelblue;
        }

            nav.tabs ul li a.selected {
                background-color: white;
                color: steelblue;
            }

            nav.tabs ul li a:hover {
                background-color: white;
                color:steelblue;
            }

            nav.tabs ul li a.selected:hover {
                background-color: steelblue;
                color: white;
            }

            nav.tabs ul li a:active {
                background-color: steelblue;
            }

section {
    background-color: white;
    padding: 20px;
    height: 600px;
}

h1 {
    font-size: 30pt;
    color: steelblue;
    padding-top: 50px;
    margin: 0;
    padding-bottom: 20px;
}

h2 {
    font-size: 18pt;
    color: steelblue;
    margin: 0;
}

p {
    padding-top: 15px;
   
}

footer {
    height: 80px;
    background-color: pink;
    text-align: left;
}

#facebook {
    padding-top:10px;
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background-repeat: no-repeat;
    padding-right: 10px;
}

.border {
    border: 2px dashed pink;
    height: 100px;
    background-color: white;
    margin-bottom: 20px;
}
